---
const faqItems = [
  {
    title: ["What is a", "hackathon"],
    text: "A hackathon is an event where programmers, designers, project managers, and subject-matter experts work together on software projects.",
  },
  {
    title: ["Who can", "participate"],
    text: "Students of any education level from anywhere in the world are eligible! Everyone must be 13 years or older to participate.",
  },
  {
    title: ["Do I need", "experience?"],
    text: "No prior experience is required to participate in a hackathon. It is open to beginners and experienced individuals alike.",
  },
  {
    title: ["How much", "is it?"],
    text: "There is no cost to participate in a hackathon. It is free for all attendees. You just need to bring your enthusiasm and creativity!",
  },
  {
    title: ["What should", "I bring?"],
    text: "You should bring your own laptop and any other tools or resources you may need for the hackathon.",
  },
];
---

<section class="items-center" id="faq">
  <div class="mt-10 text-center px-4 md:px-10 max-w-6xl mx-auto py-7">
    <h1 class="text-dino-teal text-7xl font-extrabold py-4">FAQ</h1>
    <p>
      <span class="text-xl">Got something that's not here?</span>
      <br />
      Ask us through email: 
      <a href="mailto:team@ragnohacks.ca" target="_blank" class="hover:underline">team@ragnohacks.ca</a>
    </p>

    <!-- Desktop -->
    <div class="hidden grid-cols-3 gap-6 py-8 lg:grid">
      {
        faqItems.map((item, i) => (
          // Auto-formatting doesn't work in this mess, beware
          <>
            {i % 2 === 0 && (
              <div class="border-4 border-dino-teal text-dino-teal rounded-xl uppercase text-4xl font-bold py-4 px-2 tracking-wide flex items-center justify-center">
                <p>{item.title[0]}<br /><span class="text-dino-neon-orange">{item.title[1]}</span></p>
              </div>
              <div class="col-span-2 border-4 border-dino-teal rounded-lg text-xl py-4 px-6 flex items-center">
                <p>{item.text}</p>
              </div>
            )}
            {i % 2 !== 0 && (
              <div class="col-span-2 border-4 border-dino-teal rounded-lg text-xl py-4 px-6 flex items-center">
                <p>{item.text}</p>
              </div>
              <div class="border-4 border-dino-teal text-dino-teal rounded-xl uppercase text-4xl font-bold py-4 px-2 tracking-wide flex items-center justify-center">
                <p>{item.title[0]}<br /><span class="text-dino-neon-orange">{item.title[1]}</span></p>
              </div>
            )}
          </>
        ))
      }
    </div>

    <!-- Mobile -->
    <div class="flex flex-col lg:hidden space-y-6 py-8 text-center">
      {faqItems.map((item, i) => (
        <div>
          <label for={`faq-${i}`}>
            <input type="checkbox" id={`faq-${i}`} class="peer hidden" />
            <div class="h-36 peer-checked:hidden border-4 border-dino-teal text-dino-teal rounded-xl uppercase text-4xl font-bold py-4 px-2 tracking-wide flex items-center justify-center">
                <p class="fade-in">{item.title[0]}<br /><span class="text-dino-neon-orange">{item.title[1]}</span></p>
            </div>
            <div class="min-h-36 hidden peer-checked:flex border-4 border-dino-teal text-dino-teal rounded-xl text-sm px-4 py-2 items-center justify-center">
                <p class="fade-in">{item.text}</p>
            </div>
          </label>
        </div>
      ))}
    </div>
  </div>
</section>

<style>
  .fade-in {
    animation: fadeIn 0.25s ease-in-out;
    animation-fill-mode: both;
  }

  @media (prefers-reduced-motion: reduce) {
    .fade-in {
      animation: none;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
