---
const title = "flex flex-col text-5xl border-dino-teal border-4 border-solid p-5 rounded-xl justify-center w-auto";
const titleTeal = "text-dino-teal font-extrabold whitespace-nowrap";
const titleOrange = "text-dino-neon-orange font-bold";
const text = "text-dino-teal text-2xl rounded-xl w-full h-full sm:border-dino-teal sm:border-4 sm:border-solid sm:p-5";
---

<div class="mt-10 text-center px-10">
  <h1 class="text-dino-teal text-7xl font-extrabold">FAQ</h1>
  <div class="flex flex-col gap-5">
    <div class="flex flex-row gap-5">
      <div
        class={title}
      >
        <h1 class={titleTeal}>WHAT IS A</h1>
        <h1 class={titleOrange}>HACKATHON</h1>
      </div>
      <div>
        <p
          class={text}
        >
          A hackathon is a design sprint-like event in which computer
          programmers and others involved in software development, including
          graphic designers, interface designers, project managers, and others,
          often including subject-matter-experts, collaborate intensively on
          software projects.
        </p>
      </div>
    </div>

    <div class="flex flex-row gap-5">
      <div>
        <p
          class={text}
        >
          Anyone with an interest in software development can participate in a
          hackathon. It is open to programmers, designers, project managers, and
          subject-matter experts.
        </p>
      </div>
      <div
        class={title}
      >
        <h1 class={titleTeal}>WHO CAN</h1>
        <h1 class={titleOrange}>PARTICIPATE</h1>
      </div>
    </div>

    <div class="flex flex-row gap-5">
      <div
        class={title}
      >
        <h1 class={titleTeal}>DO I NEED</h1>
        <h1 class={titleOrange}>EXPERIENCE?</h1>
      </div>
      <div>
        <p
          class={text}
        >
          No prior experience is required to participate in a hackathon. It is
          open to beginners and experienced individuals alike.
        </p>
      </div>
    </div>

    <div class="flex flex-row gap-5">
      <div>
        <p
          class={text}
        >
          There is no cost to participate in a hackathon. It is free for all
          attendees. You just need to bring your enthusiasm and creativity!
        </p>
      </div>
      <div
        class={title}
      >
        <h1 class={titleTeal}>HOW MUCH</h1>
        <h1 class={titleOrange}>IS IT?</h1>
      </div>
    </div>

    <div class="flex flex-row gap-5">
      <div
        class={title}
      >
        <h1 class={titleTeal}>WHAT SHOULD</h1>
        <h1 class={titleOrange}>I BRING?</h1>
      </div>
      <div>
        <p
          class={text}
        >
          You should bring your own laptop and any other tools or resources you
          may need for the hackathon.
        </p>
      </div>
    </div>
  </div>
</div>
