---
const height = "h-20 w-auto";
const info = [
  { name: "name1", role: "role1", fact: "fact1" },
  { name: "name2", role: "role2", fact: "fact2" },
  { name: "name3", role: "role3", fact: "fact3" },
  { name: "name4", role: "role4", fact: "fact4" },
  { name: "name5", role: "role5", fact: "fact5" },
  { name: "name6", role: "role6", fact: "fact6" },
  { name: "name7", role: "role7", fact: "fact7" },
  { name: "name8", role: "role8", fact: "fact8" },
  { name: "name9", role: "role9", fact: "fact9" },
  { name: "name10", role: "role10", fact: "fact10" },
];
---

<section class="">
  <div class="font-medium text-center bg-dino-teal py-4 pb-6">
    <p class="pt-2 pb-2 text-xs text-white sm:text-lg" id="heart">
      An event crafted with <span class="inline-block heart">♥</span> by students
    </p>
    <div class="text-white text-sm">
      <p>
        Our <a
          href="https://github.com/ragnohacks/site"
          target="_blank"
          class="underline">website</a
        > and <a
          href="https://hcb.hackclub.com/ragnohacks"
          target="_blank"
          class="underline">finances</a
        > are open and transparent.
      </p>
      <p>
        Inquiries? Contact us at <a
          href="mailto:team@ragnohacks.ca"
          target="_blank"
          class="underline">team@ragnohacks.ca</a
        >
      </p>
    </div>
    <!-- Hiding this till we have info -->
    <!-- <div class="flex flex-row flex-wrap justify-center gap-5 px-1 pt-6 pb-20">
      {
        info.map((item, index) => (
          <div class="relative group" key={index}>
            <img
              src="./placeholder.png"
              alt={`Placeholder ${index + 1}`}
              class={height}
            />
            <div class="absolute left-0 z-10 flex flex-row invisible w-64 p-2 transition-all bg-white border border-gray-300 opacity-0 top-20 group-hover:visible group-hover:opacity-100 group-hover:animate-fadeIn text-dino-neon-orange rounded-xl">
              <img src="./placeholder-square.png" alt="drawing" class="h-24" />
              <div class="pl-3 text-left">
                <h1 class="font-bold">{item.name}</h1>
                <h2 class="font-bold">{item.role}</h2>
                <p class="mt-2 text-sm">{item.fact}</p>
              </div>
            </div>
          </div>
        ))
      }
    </div> -->
    <!-- <div class="bg-dino-dark-teal h-7"></div> -->
  </div>
</section>

<style>
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
  }

  .animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out;
  }

  .group:hover .group-hover\\:animate-fadein {
    z-index: 10;
  }
  @keyframes heartAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  #heart:hover .heart {
    animation: heartAnimation 1s 1;
  }
</style>
