---
const cards = [
  {
    imgsrc: "",
    text: "ragnohacks is a 10 hour long time ipajsefpij apsejf piasjefpi jaseipfjp ijaseif",
    position: "",
    //   "sm:top-24 sm:right-10 lg:right-44 xl:top-24 xl:right-24 rotate-3",
    card: true,
  },
  {
    imgsrc: "/placeholder.jpg",
    position: "",
    //   "sm:top-24 sm:right-10 lg:right-44 xl:top-24 xl:right-24 rotate-3",
    card: false,
  },
  {
    imgsrc: "/placeholder.jpg",
    position: "",
    //   "sm:top-24 sm:right-10 lg:right-44 xl:top-24 xl:right-24 rotate-3",
    card: false,
  },
  {
    imgsrc: "",
    text: "ragnohacks is a 10 hour long time ipajsefpij apsejf piasjefpi jaseipfjp ijaseif",
    position: "", //"sm:top-24 sm:left-10 lg:left-44 xl:top-24 xl:left-24 -rotate-6",
    card: true,
  },
  {
    imgsrc: "",
    text: "ragnohacks is a 10 hour long time ipajsefpij apsejf piasjefpi jaseipfjp ijaseif",
    position: "", //"sm:top-96 sm:left-10 lg:left-44 xl:top-96 xl:left-72 rotate-6",
    card: true,
  },
  {
    imgsrc: "",
    text: "ragnohacks is a 10 hour long time ipajsefpij apsejf piasjefpi jaseipfjp ijaseif",
    position: "",
    //   "sm:top-96 sm:right-10 lg:right-44 xl:top-96 xl:right-72 -rotate-6",
    card: true,
  },
];
---

<section class="bg-dino-dark-teal h-svh">
  <div class="max-w-6xl relative mx-auto">
    <div class="hidden sm:block">
      {
        cards.map((card, index) => {
          if (index % 2 === 0) {
            const nextCard = cards[index + 1];

            const isEvenGroup = Math.floor(index / 2) % 2 === 0; // Check if it's an even group

            return (
              <div class={`flex gap-4 mb-4 justify-center`}>
                {/* 1st card */}
                <div class=" border-black border-3 rounded-md bg-white text-center transition-transform hover:rotate-0">
                  {card.card ? (
                    <div
                      class={`rounded-md p-4 text-md sm:text-md md:text-xl sm:w-64 md:w-80 text-center transition-transform hover:rotate-0 ${card.position}`}
                    >
                      <h1 class="border-2 border-dino-dark-teal p-5 text-black">
                        {card.text}
                      </h1>
                    </div>
                  ) : (
                    <img
                      src={card.imgsrc}
                      alt=""
                      class={`w-52 ${card.position}`}
                    />
                  )}
                </div>

                {/* second card */}
                {nextCard && (
                  <div class="">
                    {nextCard.card ? (
                      <div
                        class={`bg-white border-black border-3 rounded-md p-4 text-md sm:text-md md:text-xl sm:w-64 md:w-80 text-center transition-transform hover:rotate-0 ${nextCard.position}`}
                      >
                        <h1 class="border-2 border-dino-dark-teal p-5 text-black">
                          {nextCard.text}
                        </h1>
                      </div>
                    ) : (
                      <img
                        src={nextCard.imgsrc}
                        alt=""
                        class={`w-52 ${nextCard.position}`}
                      />
                    )}
                  </div>
                )}
              </div>
            );
          }

          return null;
        })
      }
    </div>

    {/* mobile */}
    <div class="sm:hidden flex flex-col gap-5 items-center pt-10">
      {
        cards.map((card, index) => (
          <div>
            {card.card ? (
              <div class="border-black border-3 rounded-md bg-white p-4 w-64 text-center transition-transform hover:rotate-0">
                <h1 class="border-2 border-dino-dark-teal p-5 text-black">
                  {card.text}
                </h1>
              </div>
            ) : (
              <div>
                <img src={card.imgsrc} alt="" class="px-5" />
              </div>
            )}
          </div>
        ))
      }
    </div>
  </div>
</section>
